Repository The-Final-Nights/The-Final-Nights-Rebase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DarkPack13/maptainers, @DarkPack13/spritetainers, @DarkPack13/maintainers, @FalloutFalcon, @XeonMations

blank disciplines
  modular_darkpack/modules/kindred_species/code/vampire_clan/clans/tzimisce/creatures.dm
  modular_darkpack/modules/kindred_species/code/vampire_clan/clans/tzimisce/tzimisce.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/shapeshift_forms.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/shapeshifting_powers.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
  tgstation.dme
Owners: @DarkPack13/maintainers

raaahhhh
  modular_darkpack/modules/powers/code/discipline/vicissitude/basic_shapeshifting.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/shapeshifting_powers.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
  tgstation.dme
Owners: @DarkPack13/maintainers

AAAAAAAAAA
  modular_darkpack/modules/kindred_species/code/vampire_clan/clans/tzimisce/tzimisce.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/basic_shapeshifting.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
Owners: @DarkPack13/maintainers

viscissitude 1 alpha
  modular_darkpack/modules/powers/code/discipline/vicissitude/basic_shapeshifting.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
Owners: @DarkPack13/maintainers

Update basic_shapeshifting.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/basic_shapeshifting.dm
Owners: @DarkPack13/maintainers

finally
  modular_darkpack/modules/powers/code/discipline/vicissitude/basic_shapeshifting.dm
  modular_darkpack/modules/powers/icons/shapeshifting_radial.dmi
Owners: @DarkPack13/maintainers, @DarkPack13/spritetainers

wow
  modular_darkpack/modules/powers/code/discipline/__discipline_power.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/basic_shapeshifting.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
Owners: @DarkPack13/maintainers

Update basic_shapeshifting.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/basic_shapeshifting.dm
Owners: @DarkPack13/maintainers

RAHHHHHHHHHH
  code/__DEFINES/~darkpack/dcs/power_signals.dm
  code/__DEFINES/~darkpack/discipline.dm
  modular_darkpack/modules/powers/code/discipline/__discipline_power.dm
  modular_darkpack/modules/powers/code/discipline/protean/protean.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/malleable_visage.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
  modular_darkpack/modules/powers/code/discipline_actions.dm
  tgstation.dme
Owners: @DarkPack13/maintainers

rahhh
  code/datums/components/crafting/crafting.dm
  modular_darkpack/modules/deprecated/icons/items.dmi
  modular_darkpack/modules/kindred_species/code/vampire_clan/clans/tzimisce/crafting_recipes.dm
  modular_darkpack/modules/kindred_species/code/vampire_clan/clans/tzimisce/objects.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/creatures.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/flesh_items.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/fleshwalls.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/human_flesh.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
  modular_darkpack/modules/powers/icons/flesh_items.dmi
  tgstation.dme
Owners: @DarkPack13/maintainers, @DarkPack13/spritetainers

RAHHH
  modular_darkpack/modules/powers/code/discipline/vicissitude/crafting_recipes.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/objects/creatures.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/objects/flesh_items.dm
  tgstation.dme
Owners: @DarkPack13/maintainers

Update vicissitude.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
Owners: @DarkPack13/maintainers

Update vicissitude.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
Owners: @DarkPack13/maintainers

Update vicissitude.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
Owners: @DarkPack13/maintainers

awawa
  modular_darkpack/modules/powers/code/discipline/vicissitude/shapeshifting.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
  modular_darkpack/modules/powers/icons/shapeshifting_radial.dmi
  tgstation.dme
Owners: @DarkPack13/maintainers, @DarkPack13/spritetainers

Update vicissitude.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
Owners: @DarkPack13/maintainers

surgeries :3
  code/modules/mob/living/carbon/examine.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/shapeshifting.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/appearance_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/eye_colour_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/hair_colour_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/height_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/sex_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/skin_colour_change.dm
  tgstation.dme
Owners: @DarkPack13/maintainers

bugfix for surgeries
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/appearance_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/eye_colour_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/hair_colour_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/height_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/sex_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/skin_colour_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
Owners: @DarkPack13/maintainers

moar bugfixes
  modular_darkpack/modules/powers/code/discipline/vicissitude/objects/surgery_tools.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
  modular_darkpack/modules/powers/icons/fleshcrafting_surgery_tools.dmi
  modular_darkpack/modules/powers/icons/lefthand.dmi
  modular_darkpack/modules/powers/icons/righthand.dmi
  tgstation.dme
Owners: @DarkPack13/maintainers, @DarkPack13/spritetainers

awa
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/objects/surgery_tools.dm
Owners: @DarkPack13/maintainers

visc 3 + sound changes
  modular_darkpack/modules/powers/code/discipline/vicissitude/shapeshifting.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/appearance_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/eye_colour_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/hair_colour_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/height_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/sex_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/surgeries/skin_colour_change.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
  modular_darkpack/modules/powers/sounds/vicissitude.ogg
  modular_darkpack/modules/ritual_thaumaturgy/rituals/gargoyle_transformation.dm
Owners: @DarkPack13/maintainers

Update vicissitude.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
Owners: @DarkPack13/maintainers

Update discipline.dm
  code/__DEFINES/~darkpack/discipline.dm
Owners: @DarkPack13/maintainers

Update vicissitude.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
Owners: @DarkPack13/maintainers

Update flesh_items.dmi
  modular_darkpack/modules/powers/icons/flesh_items.dmi
Owners: @DarkPack13/spritetainers

Update shapeshifting.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/shapeshifting.dm
Owners: @DarkPack13/maintainers

Update vicissitude.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
Owners: @DarkPack13/maintainers

awawa
  modular_darkpack/modules/powers/code/discipline/vicissitude/objects/surgery_tools.dm
  modular_darkpack/modules/powers/icons/lefthand.dmi
  modular_darkpack/modules/powers/icons/righthand.dmi
Owners: @DarkPack13/maintainers, @DarkPack13/spritetainers

remove shapeshift spells
  modular_darkpack/modules/powers/code/discipline/vicissitude/shapeshift_forms.dm
  tgstation.dme
Owners: @DarkPack13/maintainers

zulo
  modular_darkpack/modules/deprecated/icons/64x64.dmi
  modular_darkpack/modules/powers/code/discipline/vicissitude/objects/creatures.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/zulo.dm
  modular_darkpack/modules/powers/icons/zulo_forms.dmi
  tgstation.dme
Owners: @DarkPack13/spritetainers, @DarkPack13/maintainers

awawa
  modular_darkpack/modules/kindred_species/code/vampire_clan/__vampire_clan.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/zulo.dm
Owners: @DarkPack13/maintainers

awawa
  modular_darkpack/modules/powers/code/discipline/vicissitude/appearances.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/shapeshifting.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/vicissitude.dm
  modular_darkpack/modules/powers/code/discipline/vicissitude/zulo.dm
  tgstation.dme
Owners: @DarkPack13/maintainers

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# Map Maintainers
/_maps/ @DarkPack13/maptainers
*.dmm @DarkPack13/maptainers

# Sprite Maintainers
/icons/ @DarkPack13/spritetainers
*.dmi @DarkPack13/spritetainers

# Code Maintainers
/code/ @DarkPack13/maintainers
*.dm @DarkPack13/maintainers

# MAINTAINERS

# FalloutFalcon
/modular_darkpack/modules/cars/code/ @FalloutFalcon
/modular_darkpack/modules/city_time/code/ @FalloutFalcon
/modular_darkpack/modules/doors/code/vampdoor.dm @FalloutFalcon

# XeonMations
/modular_darkpack/modules/masquerade/code/ @XeonMations

# CONTRIBUTORS


# MULTIPLE OWNERS



# Host Hell



# Expensive files that touching basically always cause performance problems
## Init times
